In [1]:
!pip install pyjanitor pyvis --quiet

In [3]:
import pandas as pd
import janitor
import datetime

from IPython.core.display import display, HTML
from pyvis import network as net
import networkx as nx

C:\Users\CarolinaSoria\AppData\Local\Temp\ipykernel_3664\282497062.py:5: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [4]:
df_ori = pd.read_csv("Connections.csv", skiprows=2)

In [5]:
df = (
    df_ori
    .clean_names() # remove spacing and capitalization
    .drop(columns=['first_name', 'last_name', 'email_address']) # drop for privacy
    .dropna(subset=['company', 'position']) # drop missing values in company and position
    .to_datetime('connected_on', format='%d %b %Y')
  )
df.head()

c:\Users\CarolinaSoria\anaconda3\Lib\site-packages\pandas_flavor\register.py:157: FutureWarning: This function will be deprecated in a 1.x release. Please use `jn.transform_columns` instead.
  return method(self._obj, *args, **kwargs)

,url,company,position,connected_on
0,https://www.linkedin.com/in/lukas-bigun-19149072,"Department of Finance, Copenhagen Business School",Research Assistant,2024-05-07
1,https://www.linkedin.com/in/lukas-mikkel-hanse...,Above Sports,Nordic Sales Lead,2024-04-26
2,https://www.linkedin.com/in/charlottelumbye,Capacit,Senior Business Consultant,2024-04-17
3,https://www.linkedin.com/in/mikkel-hempel,Capacit A/S,Co-Managing Partner,2024-04-12
4,https://www.linkedin.com/in/davidlyngh,INTELLISHORE,People & Culture Lead,2024-04-12

In [8]:
df_ori

,First Name,Last Name,URL,Email Address,Company,Position,Connected On
0,Lukas,Bigun,https://www.linkedin.com/in/lukas-bigun-19149072,NaN,"Department of Finance, Copenhagen Business School",Research Assistant,07 May 2024
1,Lukas Mikkel,Hansen,https://www.linkedin.com/in/lukas-mikkel-hanse...,NaN,Above Sports,Nordic Sales Lead,26 Apr 2024
2,Charlotte,Lumbye,https://www.linkedin.com/in/charlottelumbye,NaN,Capacit,Senior Business Consultant,17 Apr 2024
3,Mikkel,Hempel,https://www.linkedin.com/in/mikkel-hempel,NaN,Capacit A/S,Co-Managing Partner,12 Apr 2024
4,David Andreasen,Lyngh,https://www.linkedin.com/in/davidlyngh,NaN,INTELLISHORE,People & Culture Lead,12 Apr 2024
...,...,...,...,...,...,...,...
140,Victor,Valera Cruz,https://www.linkedin.com/in/victor-valera,NaN,Qaracter - Beyond your Challenge,Senior Consultant,09 Nov 2021
141,Matheus,Andrade,https://www.linkedin.com/in/matheus-andrade-60...,NaN,Artefact,Data Consultant,06 Nov 2021
142,Anahi,Palacios,https://www.linkedin.com/in/acpalacios118,NaN,PROMATION USA,Customer Support Technician,04 Nov 2021
143,Marina,Johnstone,https://www.linkedin.com/in/marina-johnstone-4...,NaN,Wisconsin Department of Veterans Affairs,Operations Program Assistant,14 Jun 2021
144,Quentin,Prince,https://www.linkedin.com/in/quentin-prince-129...,NaN,Milwaukee Youth Sports Alliance,Executive Director + Chief Sports Officer,05 Feb 2021